.App {
  text-align: center;
  
}

.main-wrapper{
  text-align: center;
  width: 1100px;
  border-radius:50px;
  /* display: flex; */
  justify-content: center;
 
}

.product-card{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  border-radius:5px;  
}

.send-message-form {  
  display: flex;
  box-sizing: border-box;
  height: 40px;
  /* width:100% */
}

.form-input{
  width:100%;
  /* margin-bottom: 10px; */
}

