.App {
  text-align: center;
  width: 500px;
  border-radius:50px;
}

.header {
  background-color: #41a8d8;
  min-height: 4vh;
  display: flex;  
  justify-content: center;
  vertical-align: middle;
  color: white;
  border-radius: 25px;
}

.App-link {
  color: #61dafb;
}
.messages-box{
  box-sizing: border-box;
  padding: 0 0 0 6px;
  margin: 0;
  /* width: auto; */
  height: 500px;
  /* overflow: scroll; */
  background: white;
}

.message-box{
  background:  #41a8d8;
  color:white;
  height:25px;
  border-radius:15px;
  margin:5px;
  width: auto;
}


.send-message-form {  
  display: flex;
  box-sizing: border-box;
  height: 40px;
  width:100%
}

.form-input{
  width:100%
}
